.city-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    align-items: center;
    gap: 1rem;
    color: rgba(230, 149, 42, 0.752);
  }
  .city-name{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .longlati-info{
    display: flex;
    gap: 1rem;
  
  }
  .longlati-info > *, .cloudwind-info > *{
    box-shadow: 2px 2px 4px black;
    width: 7.5rem;
    height: 3rem;
    padding: .5rem;
    text-align: center;
    border-radius: .5rem;
  }
  .cloudwind-info{
    display: flex;
    gap: 1rem;
  }
  